.jumbotron{
	text-align: center;
	background-color: lightblue;
	color: black;
}

button{
	background-color: lightgrey;
}

h3{
	color: black;
}

li{
	color: navy;
}

img{
	width="204px" height="325px"
}

.row{
	background-color: lightgrey;
}

.container{
	background-color: black;
}

.nav{
	color: white;
	font-family: "Arial";
}

.col-xs-12{
	background-color: lightgrey;
}

.text-warning{
	color: blue;
}

